/* ====author====
Name:
Email:
Phone: 
Website:
 */

/* ======color used in template=====
    1. deep orange color - #ef7e19
    2. light orange color -#f78927
    3. Text Black color - #232323
    4. gray color -#8d8d8d

 */


/* google fonts: Montserrat + exo 2 + meie script*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Meie+Script&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* global css */
body{
    font-family: 'Montserrat', sans-serif;
    color: #232323;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Exo 2', sans-serif;
}
.client-names{
    font-family: 'Meie Script', cursive;
}
a{
    text-decoration: none;
}
.mt-75{
    margin-top: 75px;
}
.mt-20{
    margin-top: 20px;
}
.pl-75{
    padding-left: 75px;
}
.text-align{ text-align: center;}

/* ================
header section
=============== */
header{
    background: url(../images/CENTAURY_bg.png) no-repeat center top;
    background-size: cover;
}
.logo{
    padding: 36px 0 0px;
}
.navbar-light .navbar-brand{
    padding: 0;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl 
{
    padding: 0;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    background:#272727;
    border-bottom: 2px solid #ef7e19;
    padding: 60px 5px 9px;
}
.navbar{
    padding: 0;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 60px 15px 5px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color:#ef7e19;
}
.banner-content{
    padding: 105px 0 75px;
}
.banner-content h1{
    color:#fff;
    font-weight: 700;
    margin: 0;
}
.banner-content p{
    color:#8d8d8d;
    margin: 0;
    padding: 25px 0;
    font-weight: 500;
}
.banner-content span{
    color:#ef7e19;
}
.banner-content .default-btn{
    background: #ef7e19;
    color: #fff;
    padding: 10px 36px;
    text-transform: uppercase;
}
.fa-angle-double-right:before {
    padding: 0px 0px 0px 10px;
}
.default-btn:hover{
    background:#f78927;
}
/* =======
Text section css
====== */
.intro-section{ 
    padding: 112px 0;
    background: url(../images/hotspot-bg.png) no-repeat;
    background-position: right;
    background-size: 72%;
}
.intro-section h1{
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}
.intro-section span{
    color:#ef7e19;
}
.intro-section p{
    font-weight: 500;
    color:#8d8d8d;
    margin: 0;
    padding: 25px 0;
    color: #000;
}
.intro-section .default-btn{
    background: #ef7e19;
    color: #fff;
    padding: 10px 36px;
    text-transform: uppercase;
}
.intro-section .default-btn:hover{
    background:#f78927;
}
.float-parent{
    position: relative;
   
}
.float-parent h4{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    background: #fff;
    padding: 6px 5px;
}
.float-parent p{
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 6px;
    font-size: 12px;
    background: #fff;
    text-align: center;
    color: #000;
}
.float-content{
    position: absolute;
    top: 133px;
    left: 143px;
    border:5px solid #ef7e19;
}
/* ===== 
Gallery section 
======*/
.gallery-sec{
    padding: 100px 0;
    background: url(../images/tchnology-bg.png) no-repeat;
    background-position: right;
    background-size: 6% 100%;
}

.gallery-sec .default-btn-gallery{

    border:2px solid #ef7e19;
    color: #ef7e19;
    padding: 10px 10px;
    text-transform: uppercase;
    margin-right: 20px;
    transition: .5s ease-in-out;
    
}
.gallery-sec .default-btn-dome{
    border:2px solid #ef7e19;
    color: #ef7e19;
    padding: 10px 36px;
    text-transform: uppercase;
    transition: .5s ease-in-out;
}
.default-btn-gallery:hover{
    background: #ef7e19;
    color: #fff;
    transition: .5s ease-in-out;
}
.default-btn-dome:hover{
    background: #ef7e19;
    color: #fff;
    transition: .5s ease-in-out;
}
.item-box{
    position: relative;
    overflow: hidden;
    width:100%;
    transition: .5s ease-in-out;

}   
.img-hover{
    position: absolute;
    top:0;
    left:-100%;
    width: 100%;
    padding: 0;
    transition: .5s ease-in-out;

}
.item-box:hover .img-hover{
   left: 0%;
   transition: .5s ease-in-out;
}
.img-hover h1{
    background: #f78927;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin: 0;
    text-transform: uppercase;
}
.img-hover p{
    background: #ef7e19;
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    margin: 0;
    text-transform: uppercase;
}
/* ==========================
Airdome structure section css
============================= */
.structure{
    padding: 75px 0;
    background: url(../images/structure-bg.png) no-repeat;
    background-position: left;
}
.structure  h1{
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    text-align: center;
    margin-bottom: 75px;
}
.structure span{
    color:#ef7e19;
}
.structure .border-left{
    border-left: 5px solid #ef7e19 ;
}
.structure ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;  
}
.structure ul span{
    font-size: 22px;
    font-weight: 700;
    padding: 0 35px;
    color: #c8c8c8;
    transition: .5s ease-in-out;
}
.structure ul li{
    padding: 15px 10px;
    color: #c8c8c8;
    font-size: 18px;
    font-weight: 500;
    transition: .5s ease-in-out;
}
.structure ul li:hover{
    background: #f5f5f5;
    color: #000;
    transition: .5s ease-in-out;
}
.structure ul li span:hover{
    
    background: #f5f5f5;
    color: #000;
    transition: .5s ease-in-out;
}
/* ===============
Our story section css
================== */
.our-story-sec{
    padding: 75px 0;
    background: url(../images/Our-story-bg.png) no-repeat;
    background-position: right;
    background-size: 6% 100%;
}

.story-description{
    border:2px solid #ef7e19;
    border-top:none;
} 
.story-description p{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    padding: 22px 10px;
    margin: 0;
    text-align: left;
}
.read-more{
    background: #ef7e19;
    text-align: center;
    padding: 15px 0;
}

.read-more a{
    background: #ef7e19;
   
    color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    
}
.img-story{
    position: relative;
    overflow:hidden;
    width:100%;
    transition: .5s ease-in-out;}
.img-story-hover{
    height: 100%;
    position: absolute;
    right:0;
    bottom:-100%;
    width: 100%;
    background:rgba(197, 197, 197, 1) ;
    transition: .5s ease-in-out;
}
.img-story:hover .img-story-hover{
    background:rgba(197, 197, 197, .3) ;
    bottom:0%;;
    transition: .5s ease-in-out;
}

/* =======
Client review section
====== */
.client-review{
    padding: 75px 0 300px;
    background: url(../images/client-review-bg.png) no-repeat;
    background-position: left;
    background-size: 5% 100%;
}
.client-review h1{
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    font-size: 44px;
}
.client-review span{
    color: #ef7e19;
}
.positioning{
    position: relative;
}
.review-shape{
    position: absolute;
    top: 19px;
    left: 529px;
}
.review-para{
    position: absolute;
    top: 235px;
    left: 529px;
    margin: 0;
    padding: 6px 337px 0px 106px;
    color: #fff;
}
.client-sign span{
    color: #fff;
    font-family: 'Meie Script', cursive;
    font-size: 20px;
    font-weight: 700;
}

.client-sign {
    position: absolute;
    bottom: -39px;
    right: 378px;
    color: #fff;
}
.client-1{
    position: absolute;
    top: 344px;
    left: 338px;
    border: 6px solid #ededed;
    border-radius: 50%;

}
.client-2{
    position: absolute;
    top: 413px;
    left: 475px;
    border: 6px solid #ededed;
    border-radius: 50%;
    background:#fff;
}
.client-3{
    position: absolute;
    top: 54px;
    left: 786px;
    border: 6px solid #fff;
    border-radius: 50%;
    background: #fff;
}
.client-4{
    position: absolute;
    bottom: 161px;
    right: 99px;
    border: 6px solid #ededed;
    border-radius: 50%;
    background: #fff;
}
.client-5{
    position: absolute;
    bottom: 329px;
    right: 11px;
    border: 6px solid #ededed;
    border-radius: 50%;
}

/* ======
footer
====== */
footer{
    padding: 100px 0 40px;
    background: url(../images/footer-bg.png) no-repeat center top;
    background-size: cover;
}
footer h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    text-align:center;
    margin-bottom: 55px;
}
footer span{
    color:#ef7e19;
}
footer form input{
    display: block;
    color: #fff;
    margin: 23px auto;
    height: 55px;
    width: 550px;
    background: transparent;
    padding: 20px 17px;
    border: 1px solid #d9d9d9;
}
footer #submit{
    background: #ef7e19;
    color: #fff;
    border:none;
    text-transform: uppercase;
}
footer .fa{
    color:#ef7e19;
    font-size: 30px;
}
footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
footer ul li {
    color: #d9d9d9;
    text-transform: uppercase;
    font-size: 12px;
    padding: 3px;
    font-weight: 200;
}
footer h4{
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 500;
}
.social-media .fa {
    padding: 20px;
    font-size: 20px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 12px;
    border-radius: 50%;
}


footer  .fa-facebook{
    background: #3b5998;
    color:#fff; 
}
footer  .fa-twitter{
    background: #55acee;
    color:#fff; 
}
footer  .fa-google-plus{
    background: #dc4e41;
    color:#fff; 
}
footer  .fa-pinterest{
    background: #cb2027;
    color:#fff; 
}
.copyright-container{
    background: #111;
    border-top:1px solid #b5b5b5;
}
.copyright{
    text-align: center;
    color: #b5b5b5;
    padding: 20px;
    margin: 0;
    font-size: 12px;
}